spring:
  application:
    name: experiencias-soria-backend

  datasource:
    url: jdbc:mysql://localhost:3306/soria?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework.security: INFO

# Propiedades de la app
app:
  jwt-secret: "estaesunaclavesuperseguraylargaparafirmartokensjwt"
  jwt-expiration: 3600000 # 1 hora

